extends ../layout

block content
	.search-wrap
		if (listIndex === 4)
			.nav-container(style="background-image: url('http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/film.jpg');")
			//- img(src="http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/film.jpg" width="130%")
			.nav-img(style="background-image: url(http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/film.jpg)")
		else if (listIndex === 6)
			.nav-container(style="background-image: url('http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/guichu.jpg');")
			//- img(src="http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/guichu.jpg" width="130%")
			.nav-img(style="background-image: url(http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/guichu.jpg)")
		else if (listIndex === 2)
			.nav-container(style="background-image: url('http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/bg1.png');")
			//- img(src="http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/bg1.png" width="130%")		
			.nav-img(style="background-image: url(http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/bg1.png)")
		else if (listIndex === 0 || listIndex === 5)
			.nav-container(style="background-image: url('http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/bg.png');")
			//- img(src="http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/bg.png" width="100%" style="margin-top: -50px")
			.nav-img(style="background-image: url(http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/bg.png); background-size: 1920px 170px")
		else
			.nav-container(style="background-image: url('http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/b-bg.png');")
			//- img(src="http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/b-bg.png" width="130%")
			.nav-img(style="background-image: url(http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/b-bg.png)")
		.container.search
			input.videolist-search#search(type="text" placeholder="想要看点什么呀")
			span.glyphicon.glyphicon-search.glyphicon-search-videolist
	.container
		.row.navigation-box(style="margin-left:100px;margin-right:100px")
			ul
				a.link-to-movielist(href="/")
					li 首页
						span.glyphicon.glyphicon-home(style="color: rgba(255,105,180,0.9)")
				each category in categories
					a.link-to-movielist(href="/movie/videolist/list?category=#{category.name}&page=1") 
						li
							|#{category.name}
							span.badge.category-badges
								|#{category.movies.length}
		.row
			.panel.panel-default
				span.videolist-icon
					img.category-icons(src=icons[listIndex] width="70")
					h3(style="display: inline-block") #{categories[listIndex].name}
				.panel-body
					each item in categories[listIndex].movies.slice((currentPage - 1) * limit, currentPage * limit)
						.col-md-3.video-box
							.thumbnail
								a(href="/movie/#{item._id}")
									.videos-wrap
										p.video-content #{item.detail.substr(0, 40)}...
											span.glyphicon.glyphicon-play-circle.play-icon
											span.watched 播放次数: #{item.watched}
									img.poster(src="#{item.poster}" alt="#{item.name}" style="width:320px;height:150px;background:#000")
								.caption
									p #{item.name}
			.btn-toolbar.page-control-group
				if currentPage != 1
					.btn-group
						a(href="/movie/videolist/list?category=#{categories[listIndex].name}&page=#{parseInt(currentPage) - 1}")
							li.btn.prePage.page-li 上一页
				.btn-group
					-for(var i = 0; i < pageCount; i++)
						if i  === (currentPage - 1)
							a(href="/movie/videolist/list?category=#{categories[listIndex].name}&page=#{i + 1}")
								li.btn.page-btn.page-li.page-active #{i + 1}
						else 
							a(href="/movie/videolist/list?category=#{categories[listIndex].name}&page=#{i + 1}")
								li.btn.page-btn.page-li #{i + 1}
				if currentPage != pageCount
					.btn-group
						a(href="/movie/videolist/list?category=#{categories[listIndex].name}&page=#{parseInt(currentPage) + 1}")
							li.btn.nextPage.page-li 下一页
	.footer
		h2 YouDome
		p PoweredBy Lynn
		a.contact-link contact me
	script(src="/js/search-controller.js")