extends ../layout
block content
	.search-wrap
		.nav-container(style="background-image: url('http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/b-bg.png')")
		.nav-img#backToTop(style="background-image: url('http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/b-bg.png')")
		.container.search
			input.videolist-search#search(type="text" placeholder="想要看点什么呀")
			span.glyphicon.glyphicon-search.glyphicon-search-videolist
	.container.index-container
		.row.navigation-box(style="margin-left:100px;margin-right:100px")
			ul
				a.link-to-movielist(href="/")
					li 首页
						span.glyphicon.glyphicon-home(style="color: rgba(255,105,180,0.9)")
				each category in categories
					a.link-to-movielist(href="/movie/videolist/list?category=#{category.name}&page=1")                 
						li
							|#{category.name}
							span.badge.category-badges
								|#{category.movies.length}
		.row
			each category, index in categories
				.panel.panel-default(id = 'list' + index)
					span
						img.category-icons(src=icons[index] width="50")
						a.pull-right.more-info(href="/movie/videolist/list?category=#{category.name}&page=1") 更多 
						h3(style="display: inline-block") #{category.name}
					.panel-body
						each item in category.movies.slice(0, 8)
							.col-md-3.video-box
								.thumbnail
									a(href="/movie/#{item._id}" target='_blank')
										.videos-wrap
											p.video-content #{item.detail.substr(0, 40)}...
												span.glyphicon.glyphicon-play-circle.play-icon
												span.upper UP主:#{item.doctor}
												span.watched 播放次数: #{item.watched}
										img.poster(src="#{item.poster}" alt="#{item.name}" style="width:320px;height:150px;background:#000")
									.caption
										p #{item.name}
	.side-nav
		img(src="http://7xwgqm.com1.z0.glb.clouddn.com/youdome/img/b-gif" + random + ".gif" width="50")
		ul
			each category, index in categories
				if index === 0 
					a
						li.side-nav-item.side-active(style="border-radius: 5px 5px 0 0") #{category.name}
				else
					a
						li.side-nav-item #{category.name}
			a
				li.side-nav-item(style="border-radius: 0 0 5px 5px")
					span.glyphicon.glyphicon-menu-up
	.footer
		h2 YouDome
		p Powered by Lynn
		a.contact-link contact me